@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
h1,
h2 {
  font-family: "Roboto Slab", serif;
}

.btn {
  font-weight: bold;
  border-radius: 0px;
  color: black;
  border: 2px solid white;
  padding: 1.5vh;
  font-family: "Roboto Slab", serif;
  background-color: lightgray;
}
.btn.btn-white {
  font-weight: bold;
  background-color: white;
  color: black;
}
.btn.btn-warning {
  background-color: #fccc00;
  border-color: #fccc00;
  color: black;
}
.btn.btn-black {
  background-color: black;
  border-color: black;
  color: white;
}
.btn.btn-outline-b {
  border: 2px solid black;
  background-color: transparent;
  color: black;
}
.btn.btn-outline-w {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: normal;
}

.flex {
  display: flex;
}
.flex.flex-between {
  justify-content: space-between;
}

.paginator {
  justify-content: center;
  display: flex;
}
.paginator i {
  color: black;
}
.paginator span {
  margin: 0px 10px;
}

.form-control {
  border-radius: 0px;
}

.bg-black {
  background-color: black;
}

header {
  padding: 2vh 15px 2vh 15px;
}
header img {
  width: auto;
}
header li {
  font-family: "Roboto", sans-serif;
}
header li a {
  color: black;
}
header li:nth-last-child(1) {
  display: none;
}

.social-float ul {
  flex-direction: column;
  display: inline-block;
  position: fixed;
  top: 45vh;
  z-index: 10;
}
.social-float ul li {
  margin-bottom: 1px;
}
.social-float ul li a {
  background-color: black;
  color: white;
}

.slide .carousel-caption {
  width: 30%;
  margin-left: 0px;
  top: 15%;
}
.slide h1 {
  color: #fccc00;
  font-size: 3.3vw;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4em;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
.slide .input-group {
  margin-top: 5vh;
}
.slide .input-group input {
  border: 4px solid white;
  background-color: transparent;
  padding: 1.2em;
  font-size: 1.7vw;
  font-weight: bold;
}
.slide .input-group .form-control {
  color: white;
}
.slide .input-group .form-control::placeholder {
  color: white;
}
.slide .input-group .form-control:focus {
  background-color: transparent;
}
.slide .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

.products-top {
  margin-top: 5vh;
}
.products-top .title {
  background-image: url("../assets/black-bar.jpg");
  color: white;
  -webkit-box-shadow: -855px 0px 0px 0px black;
  -moz-box-shadow: -855px 0px 0px 0px black;
  box-shadow: -855px 0px 0px 0px black;
}
.products-top button {
  border: none;
  background-color: #fccc00;
  width: 100%;
  color: black;
  padding: 0.8vh;
  font-size: 2vw;
}

.products-grid {
  margin-top: 5vh;
}
.products-grid .row .col-6 .row:first-child {
  margin-bottom: 30px;
}
.products-grid fieldset {
  border: 4px solid black;
  -webkit-box-shadow: 5px 5px 0px 0px black;
  -moz-box-shadow: 5px 5px 0px 0px black;
  box-shadow: 5px 5px 0px 0px black;
}
.products-grid fieldset legend {
  background-color: #fccc00;
  color: black;
  width: auto;
  padding: 0px 1vw;
  font-family: "Roboto Slab", serif;
  font-size: 1vw;
  margin-left: -23px;
  margin-top: -13px;
}
.products-grid fieldset.big a {
  text-decoration: none;
}
.products-grid fieldset.big img {
  margin: auto;
  display: block;
  width: auto;
  height: 358px;
}
.products-grid fieldset.big p {
  font-size: 1.2vw;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: black;
}
.products-grid fieldset.small a {
  text-decoration: none;
}
.products-grid fieldset.small img {
  margin: auto;
  display: block;
  width: auto;
  height: 124.5px;
}
.products-grid fieldset.small p {
  font-size: 0.8vw;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 33px;
  color: black;
}
.products-grid fieldset i {
  background-color: black;
  color: white;
  float: right;
  position: relative;
  right: -18px;
  padding: 9px;
  bottom: 17px;
}
.products-grid fieldset:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}

.full-banner {
  background-color: #fccc00;
  padding: 16vh;
}
.full-banner .container {
  background-image: url("../assets/blue-water.jpg");
  background-size: cover;
  padding: 20px 40px;
}
.full-banner .container .row {
  background-color: #fccc00;
  height: 240px;
}
.full-banner .container .row .col-6:nth-child(2) {
  text-align: center;
}
.full-banner span {
  background-color: white;
  color: black;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.4vw;
  position: relative;
  top: -32px;
  left: -55px;
}
.full-banner h2 {
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 0.4vw;
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: -15px;
}
.full-banner h3 {
  color: white;
  margin-left: 100px;
  margin-bottom: 0px;
}
.full-banner hr {
  height: 8px;
  background-color: black;
  border: none;
  width: 50%;
  margin-left: 0px;
  margin-left: 85px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.full-banner a {
  background-color: black;
  color: white;
  margin-left: 100px;
  padding: 5px 15px;
  font-style: italic;
  margin-top: 15px;
  display: inline-block;
}
.full-banner img {
  width: auto;
  max-height: 430px;
  margin-top: -95px;
}

.donde-comprar .container div {
  position: relative;
  top: 60px;
  left: -78px;
  margin-bottom: -142px;
  background-color: black;
  color: white;
  width: 24vw;
  padding-left: 4vw;
  padding-top: 4vh;
  letter-spacing: 0.8vw;
  -webkit-box-shadow: -23vw 0px 0px 0px black;
  -moz-box-shadow: -23vw 0px 0px 0px black;
  box-shadow: -23vw 0px 0px 0px black;
}
.donde-comprar img {
  margin-left: auto;
  width: 89%;
  display: block;
}
.donde-comprar button {
  margin-top: 0px;
  margin-bottom: -22px;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1vw;
}

.formacion-title {
  background-color: black;
  margin-top: 5vh;
}
.formacion-title .row {
  background-color: black;
}
.formacion-title .row [class^=col] {
  background-color: white;
}
.formacion-title .row h1 {
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 0px;
}

.formacion-content {
  margin-top: 5vh;
  margin-bottom: calc(5vh + 16px);
}
.formacion-content a {
  text-decoration: none;
  color: black;
}
.formacion-content img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 0px 0px black;
  -moz-box-shadow: 5px 5px 0px 0px black;
  box-shadow: 5px 5px 0px 0px black;
}
.formacion-content h2 {
  font-family: "Roboto";
  text-align: center;
  font-size: 1.2vw;
  margin-top: 20px;
}
.formacion-content p {
  font-family: "Roboto";
  font-style: italic;
  text-align: center;
}
.formacion-content span {
  border: 2px solid black;
  padding: 3px;
  margin: auto;
  display: table;
  font-weight: bold;
}
.formacion-content .col-4:hover img {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.formacion-content .container:nth-child(2) {
  border-bottom: 4px solid black;
}
.formacion-content .container:nth-child(2) .btn {
  margin-top: 5vh;
  width: 100%;
  position: relative;
  bottom: -18px;
}

.support {
  background-image: url("../assets/dummy.jpg");
  background-size: cover;
  padding: 7vh;
}
.support .container {
  border: 5px solid #fccc00;
  padding: 5vh;
}
.support .container h1 {
  color: white;
  text-align: center;
  letter-spacing: 3.2vw;
  font-weight: bold;
}
.support .options {
  text-align: center;
  margin-top: -33px;
}
.support .options button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.8vh 2vh;
  font-size: 1.3vw;
}
.support .options button i {
  font-size: 20px;
  margin-left: 20px;
}

.contact-bottom {
  background-color: #e9eaec;
}
.contact-bottom [class^=col] {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
.contact-bottom input,
.contact-bottom textarea {
  border: 0px;
  font-style: italic;
}
.contact-bottom button {
  letter-spacing: 0.4em;
}
.contact-bottom h2 {
  letter-spacing: 0.2em;
  margin-bottom: 4vh;
}
.contact-bottom ul {
  list-style: none;
  padding-left: 10px;
}
.contact-bottom ul li {
  margin-bottom: 12px;
  font-style: italic;
}
.contact-bottom ul li i {
  font-size: 23px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.contact-bottom iframe {
  width: 93%;
  height: 18vh;
  -webkit-box-shadow: 5px 5px 0px 0px black;
  -moz-box-shadow: 5px 5px 0px 0px black;
  box-shadow: 5px 5px 0px 0px black;
}
.contact-bottom .invert {
  background-color: black;
  color: white;
  padding-left: 3vw;
  padding-right: 3vw;
}
.contact-bottom .invert h2 {
  font-size: 2.5em;
  letter-spacing: 0.4em;
  margin-bottom: 8vh;
}
.contact-bottom .invert p {
  margin-bottom: 4vh;
  font-size: 1.2em;
}

footer {
  background-color: black;
  padding: 7vh;
}
footer h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1vw;
  color: white;
  font-weight: normal;
}
footer ul.nav {
  margin-top: 3vh;
}
footer ul.nav a {
  color: #999999;
  border: 1px solid #999999;
  margin-right: 13px;
}
footer a {
  color: #e9eaee;
  font-size: 0.7vw;
}
footer a:hover {
  color: #e9eaee;
}
footer p {
  color: #e9eaee;
  margin-bottom: 2px;
  margin-top: 10px;
  font-size: 0.7vw;
}
footer ul {
  list-style: none;
  padding-left: 31px;
}
footer ul li {
  margin-bottom: 5px;
}
footer .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body.products .full-banner {
  background-color: #fccc00;
  padding: 10vh;
}
body.products .full-banner .container {
  background-image: url("../assets/blue-water.jpg");
  background-size: cover;
  padding: 20px 40px;
}
body.products .full-banner .container .row {
  background-color: #fccc00;
  height: 240px;
}
body.products .full-banner .container .row .col-6:nth-child(2) {
  text-align: center;
}
body.products .full-banner span {
  background-color: white;
  color: black;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.4vw;
  position: relative;
  top: -32px;
  left: -55px;
}
body.products .full-banner h2 {
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 0.4vw;
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: -15px;
}
body.products .full-banner h3 {
  color: white;
  margin-left: 100px;
  margin-bottom: 0px;
}
body.products .full-banner hr {
  height: 8px;
  background-color: black;
  border: none;
  width: 50%;
  margin-left: 0px;
  margin-left: 85px;
  margin-top: 8px;
  margin-bottom: 8px;
}
body.products .full-banner a {
  background-color: black;
  color: white;
  margin-left: 100px;
  padding: 5px 15px;
  font-style: italic;
  margin-top: 15px;
  display: inline-block;
}
body.products .full-banner img {
  width: auto;
  max-height: 430px;
  margin-top: -95px;
}
body.products .fluid-left:before {
  left: -999em;
  background-color: inherit;
  content: "";
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}
body.products .fluid-left .flex {
  justify-content: space-evenly;
}
body.products ul.side-menu {
  color: white;
  list-style: none;
  margin-top: 4vw;
}
body.products ul.side-menu li label {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
}
body.products ul.side-menu li label input {
  margin-top: 7px;
}
body.products ul.side-menu li ul {
  list-style: none;
  padding-left: 25px;
}
body.products ul.side-menu li ul li {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
}
body.products ul.side-menu li ul li label input {
  margin-top: 5px;
}
body.products ul.side-menu li.title label span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body.products ul.side-menu li.title label span:after {
  right: -989em;
  background-color: white;
  content: "";
  display: inline-block;
  width: 7em;
  height: 3px;
  margin-left: 10px;
  margin-top: 12px;
}
body.products .products-content {
  padding-top: 4vw;
  padding-left: 30px;
}
body.products .products-content .gallery {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
body.products .products-content .gallery .item {
  width: 170px;
  margin-bottom: 20px;
}
body.products .products-content .gallery .item a {
  color: black;
  text-decoration: none;
  display: block;
}
body.products .products-content .gallery .item a img {
  width: 170px;
  height: auto;
  border: 2px solid black;
}
body.products .products-content .gallery .item a h2 {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.ventas {
  margin-top: 4vw;
  overflow: hidden;
}
.ventas .container-fluid {
  background-color: #e9eaec;
  padding: 2vw 0vw;
}
.ventas .container-fluid .title {
  margin-bottom: 30px;
}
.ventas .container-fluid .title h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4vw;
  font-weight: bold;
}
.ventas .container-fluid .title h2:before {
  left: -999em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}
.ventas .container-fluid .title h2:after {
  right: -999em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}
.ventas .container-fluid .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ventas .container-fluid .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
}
.ventas .container-fluid .carousel .col-1 .btn i {
  font-weight: bold;
}
.ventas .container-fluid .carousel .col-1 .btn[data-slide=prev] {
  position: relative;
  left: -33px;
}
.ventas .container-fluid .carousel .col-1 .btn[data-slide=next] {
  margin-left: auto;
  position: relative;
  left: 33px;
}
.ventas .container-fluid .carousel-item a {
  color: black;
  text-decoration: none;
  display: block;
}
.ventas .container-fluid .carousel-item img {
  width: 150px;
}
.ventas .container-fluid .carousel-item img:after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
.ventas .container-fluid .carousel-item h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px;
}
.ventas .container-fluid .carousel-item .col-3:after {
  background-color: black;
  bottom: 0;
  content: "";
  display: block;
  height: 70px;
  right: 0%;
  position: absolute;
  transform: translate(0%, -100%);
  width: 3px;
}
.ventas .container-fluid .carousel-item .col-3:nth-child(4):after {
  background-color: transparent;
}
.ventas .soporte {
  background-color: #fccc00;
  padding: 2vw;
}
.ventas .soporte h1 {
  font-size: 1.7vw;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.4vw;
  font-weight: bold;
}
.ventas .soporte .input-group {
  margin-top: 5vh;
  max-width: 20vw;
  margin: auto;
}
.ventas .soporte .input-group input {
  border: 4px solid black;
  background-color: white;
  padding: 1.2em;
  font-size: 1.3vw;
  font-weight: bold;
}
.ventas .soporte .input-group .form-control {
  color: black;
}
.ventas .soporte .input-group .form-control::placeholder {
  color: black;
}
.ventas .soporte .input-group .form-control:focus {
  background-color: white;
}
.ventas .soporte .input-group button {
  background-color: black;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

body.product-detail .quiero .container-fluid {
  background-color: #fccc00;
  padding: 4vh;
}
body.product-detail .quiero h1 {
  color: white;
  text-shadow: 4px 4px black;
  letter-spacing: 1.5vw;
  font-weight: bold;
}
body.product-detail .quiero button {
  text-align: center;
  letter-spacing: 0.8vw;
  padding-left: 1vw;
  box-shadow: 5px 6px 0 -1px #fccc00, 5px 6px 0 2px black;
  position: relative;
}
body.product-detail .detalle {
  padding: 4vw;
  padding-bottom: 0px;
}
body.product-detail .detalle .carousel .carousel-inner .carousel-item img {
  max-width: 300px;
  margin: auto;
}
body.product-detail .detalle .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.product-detail .detalle .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
}
body.product-detail .detalle .carousel .carousel-indicators {
  margin-bottom: 0px;
  position: relative;
  top: 20px;
}
body.product-detail .detalle .carousel .carousel-indicators li {
  background-color: gray;
  height: 5px;
}
body.product-detail .detalle h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5vw;
}
body.product-detail .detalle .aditional-info {
  border: 4px solid black;
  margin-top: 3vw;
}
body.product-detail .detalle .aditional-info .col-4 {
  border-right: 4px solid black;
  padding: 1vw;
}
body.product-detail .detalle .aditional-info .col-8 {
  padding: 1vw;
}

body.buy .contactanos {
  background-color: black;
  background-image: url(../assets/where-buy-header.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vw;
}
body.buy .contactanos h1 {
  color: #fccc00;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4em;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
body.buy .contactanos .input-group {
  margin-top: 5vh;
}
body.buy .contactanos .input-group input {
  border: 4px solid white;
  background-color: transparent;
  padding: 1em;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
body.buy .contactanos .input-group .form-control {
  color: white;
}
body.buy .contactanos .input-group .form-control::placeholder {
  color: white;
}
body.buy .contactanos .input-group .form-control:focus {
  background-color: transparent;
}
body.buy .contactanos .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
body.buy .sidebar {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
body.buy .sidebar .form-control {
  border: 2px solid #000000;
}
body.buy .content {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
body.buy .content .top {
  background-color: black;
  color: white;
}
body.buy .content .top h4 {
  padding-left: 15px;
  margin-bottom: 0;
  line-height: 2rem;
  font-weight: 400;
}
body.buy .content .top .search {
  background-color: black;
  color: white;
  border: none;
  border-left: 2px solid white;
  padding: 5px 15px;
}
body.buy .content .companies {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.5vw;
}
body.buy .content .companies .company {
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
body.buy .content .companies .company a {
  color: black;
  display: block;
  text-decoration: none;
}
body.buy .content .companies .company h1 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}
body.buy .content .companies .company i {
  font-family: "Roboto", sans-serif;
  display: block;
}
body.buy .content .companies .company span.horario1 {
  display: block;
  font-family: "Roboto", sans-serif;
}
body.buy .content .companies .company span.horario2 {
  display: block;
  font-family: "Roboto", sans-serif;
}
body.buy .content .companies .company h2 {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}
body.buy .content .companies .company span:last-child {
  color: #fccc00;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
}
body.buy .content .paginator {
  margin-top: 20px;
}
body.buy .vende {
  background-color: #fccc00;
  padding: 3.5vw;
}
body.buy .vende .form-control {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  font-size: 2.5rem;
  letter-spacing: 0.5vw;
  color: black;
  box-shadow: 8px 10px 0 -4px #fccc00, 8px 11px 0 0px black;
}
body.buy .vende .form-control::placeholder {
  color: #000000;
}
body.buy .vende button {
  background-color: black;
  color: white;
  padding: 0.4rem 1.5rem;
  border: none;
  font-size: 2.5rem;
  position: relative;
  top: 11px;
  left: 8px;
}

body.learn .contactanos {
  background-color: black;
  background-image: url(../assets/where-buy-header.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vw;
}
body.learn .contactanos h1 {
  color: #fccc00;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4em;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
body.learn .contactanos .input-group {
  margin-top: 5vh;
}
body.learn .contactanos .input-group input {
  border: 4px solid white;
  background-color: transparent;
  padding: 1em;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
body.learn .contactanos .input-group .form-control {
  color: white;
}
body.learn .contactanos .input-group .form-control::placeholder {
  color: white;
}
body.learn .contactanos .input-group .form-control:focus {
  background-color: transparent;
}
body.learn .contactanos .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
body.learn .tutoriales {
  margin-top: -10px;
  overflow: hidden;
}
body.learn .tutoriales .container-fluid {
  background-color: #fccc00;
  padding: 2vw 0vw 4vw 0vw;
}
body.learn .tutoriales .container-fluid .title {
  margin-bottom: 30px;
}
body.learn .tutoriales .container-fluid .title h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4vw;
  font-weight: bold;
}
body.learn .tutoriales .container-fluid .title h2:before {
  left: -5em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 8em;
  top: 0;
  bottom: 0;
}
body.learn .tutoriales .container-fluid .title h2:after {
  right: -5em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 8em;
  top: 0;
  bottom: 0;
}
body.learn .tutoriales .container-fluid .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.learn .tutoriales .container-fluid .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
}
body.learn .tutoriales .container-fluid .carousel .col-1 .btn i {
  font-weight: bold;
}
body.learn .tutoriales .container-fluid .carousel .col-1 .btn[data-slide=prev] {
  position: relative;
  left: -33px;
}
body.learn .tutoriales .container-fluid .carousel .col-1 .btn[data-slide=next] {
  margin-left: auto;
  position: relative;
  left: 33px;
}
body.learn .tutoriales .container-fluid .carousel-item a {
  color: black;
  text-decoration: none;
  display: block;
}
body.learn .tutoriales .container-fluid .carousel-item img {
  max-width: 275px;
}
body.learn .tutoriales .container-fluid .carousel-item img:after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
body.learn .tutoriales .container-fluid .carousel-item h3 {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
  padding: 0px 15px;
}
body.learn .tutoriales .container-fluid .carousel-item p {
  text-align: left;
  font-size: 0.8rem;
  padding: 0px 15px;
}
body.learn .tutoriales .container-fluid .carousel-item .col-4 {
  padding: 12px;
}
body.learn .consejos {
  margin-top: -46px;
  overflow: hidden;
}
body.learn .consejos .container-fluid {
  padding: 0vw 0vw 2vw 0vw;
}
body.learn .consejos .container-fluid .title {
  margin-bottom: 30px;
}
body.learn .consejos .container-fluid .title .col-9 {
  border: 4px solid black;
  padding: 1.5vw;
}
body.learn .consejos .container-fluid .title .col-9 h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4vw;
  font-weight: bold;
}
body.learn .consejos .container-fluid .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
  color: white;
  background-color: black;
  padding: 9px;
  position: relative;
  top: -70px;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn i {
  font-weight: bold;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn[data-slide=prev] {
  position: relative;
  left: -33px;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn[data-slide=prev]:before {
  left: -100em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 100em;
  top: -4px;
  bottom: 0;
  height: 50px;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn[data-slide=next] {
  margin-left: auto;
  position: relative;
  left: 33px;
}
body.learn .consejos .container-fluid .carousel .col-1 .btn[data-slide=next]:after {
  right: -100em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 100em;
  top: -4px;
  bottom: 0;
  height: 50px;
}
body.learn .consejos .container-fluid .carousel-item a {
  color: black;
  text-decoration: none;
  display: block;
}
body.learn .consejos .container-fluid .carousel-item img {
  max-width: 275px;
}
body.learn .consejos .container-fluid .carousel-item img:after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
body.learn .consejos .container-fluid .carousel-item h3 {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  padding: 0px 15px;
}
body.learn .consejos .container-fluid .carousel-item p {
  text-align: center;
  font-size: 0.8rem;
  padding: 0px 15px;
}
body.learn .consejos .container-fluid .carousel-item .col-4 {
  padding: 12px;
}
body.learn .videos {
  margin-top: 40 px;
  background-color: #eaebed;
}
body.learn .videos .container-fluid {
  padding: 0vw 0vw 2vw 0vw;
}
body.learn .videos .container-fluid .title {
  margin-bottom: 30px;
  position: relative;
  top: -40px;
}
body.learn .videos .container-fluid .title .col-12 {
  padding: 1.5vw;
  background-color: black;
}
body.learn .videos .container-fluid .title .col-12 h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4vw;
  font-weight: bold;
  color: white;
}
body.learn .videos .container-fluid .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.learn .videos .container-fluid .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
  padding: 9px;
  position: relative;
  top: -70px;
}
body.learn .videos .container-fluid .carousel .col-1 .btn i {
  font-weight: bold;
}
body.learn .videos .container-fluid .carousel .col-1 .btn[data-slide=prev] {
  position: relative;
  left: -33px;
}
body.learn .videos .container-fluid .carousel .col-1 .btn[data-slide=next] {
  margin-left: auto;
  position: relative;
  left: 33px;
}
body.learn .videos .container-fluid .carousel-item a {
  color: black;
  text-decoration: none;
  display: block;
}
body.learn .videos .container-fluid .carousel-item img {
  max-width: 275px;
}
body.learn .videos .container-fluid .carousel-item img:after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
body.learn .videos .container-fluid .carousel-item h3 {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  padding: 0px 15px;
}
body.learn .videos .container-fluid .carousel-item p {
  text-align: center;
  font-size: 0.8rem;
  padding: 0px 15px;
}
body.learn .videos .container-fluid .carousel-item .col-4 {
  padding: 12px;
}

body.tec-support .contactanos {
  background-color: black;
  background-image: url(../assets/where-buy-header.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vw;
}
body.tec-support .contactanos h1 {
  color: #fccc00;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4em;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
body.tec-support .contactanos .input-group {
  margin-top: 5vh;
}
body.tec-support .contactanos .input-group input {
  border: 4px solid white;
  background-color: transparent;
  padding: 1em;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
body.tec-support .contactanos .input-group .form-control {
  color: white;
}
body.tec-support .contactanos .input-group .form-control::placeholder {
  color: white;
}
body.tec-support .contactanos .input-group .form-control:focus {
  background-color: transparent;
}
body.tec-support .contactanos .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
body.tec-support .tips {
  margin-top: 0px;
  overflow: hidden;
}
body.tec-support .tips .container-fluid {
  background-color: #eaebed;
  padding: 2vw 0vw 2vw 0vw;
}
body.tec-support .tips .container-fluid .title {
  margin-bottom: 30px;
}
body.tec-support .tips .container-fluid .title h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4vw;
  font-weight: bold;
}
body.tec-support .tips .container-fluid .title h2:before {
  left: -5em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 6em;
  top: 0;
  bottom: 0;
}
body.tec-support .tips .container-fluid .title h2:after {
  right: -5em;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 6em;
  top: 0;
  bottom: 0;
}
body.tec-support .tips .container-fluid .carousel .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.tec-support .tips .container-fluid .carousel .col-1 .btn {
  width: 43px;
  border: 4px solid black;
}
body.tec-support .tips .container-fluid .carousel .col-1 .btn i {
  font-weight: bold;
}
body.tec-support .tips .container-fluid .carousel .col-1 .btn[data-slide=prev] {
  position: relative;
  left: -33px;
}
body.tec-support .tips .container-fluid .carousel .col-1 .btn[data-slide=next] {
  margin-left: auto;
  position: relative;
  left: 33px;
}
body.tec-support .tips .container-fluid .carousel-item a {
  color: black;
  text-decoration: none;
  display: block;
}
body.tec-support .tips .container-fluid .carousel-item img {
  max-width: 275px;
}
body.tec-support .tips .container-fluid .carousel-item img:after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 50px;
}
body.tec-support .tips .container-fluid .carousel-item h3 {
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
  padding: 0px 15px;
}
body.tec-support .tips .container-fluid .carousel-item p {
  text-align: left;
  font-size: 0.8rem;
  padding: 0px 15px;
}
body.tec-support .tips .container-fluid .carousel-item .col-4 {
  padding: 12px;
}
body.tec-support .manuales {
  overflow: hidden;
  margin-top: 50px;
}
body.tec-support .manuales .title {
  margin-bottom: 30px;
}
body.tec-support .manuales .title h2 {
  letter-spacing: 1.4vw;
  text-align: center;
  margin-bottom: 0px;
  line-height: 25px;
  font-weight: bold;
}
body.tec-support .manuales .title h2:before {
  left: -40vw;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 50vw;
  top: 0;
  bottom: 0;
}
body.tec-support .manuales .title h2:after {
  right: -40vw;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  width: 50vw;
  top: 0;
  bottom: 0;
}
body.tec-support .manuales .filter {
  justify-content: space-around;
  margin-top: 20px;
}
body.tec-support .manuales .filter .form-group {
  width: 40%;
  margin-bottom: 0;
  border: 2px solid black;
}
body.tec-support .manuales .filter .btn-warning {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0px 20px;
}
body.tec-support .manuales .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vw;
}
body.tec-support .manuales .articles .item {
  width: 46%;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  padding-bottom: 1vw;
}
body.tec-support .manuales .articles .item h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
body.tec-support .manuales .articles .item p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}
body.tec-support .manuales .articles .item a {
  color: #fccc00;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-style: italic;
}
body.tec-support .garantias {
  background-image: url("../assets/dummy.jpg");
  padding: 2vw;
}
body.tec-support .garantias h1 {
  color: white;
  text-align: center;
  letter-spacing: 0.4vw;
  margin-bottom: 30px;
  font-weight: bold;
}
body.tec-support .garantias .input-group {
  margin-top: 5vh;
  max-width: 20vw;
  margin: auto;
}
body.tec-support .garantias .input-group input {
  background-color: white;
  padding: 1.2em;
  font-size: 1.3vw;
  font-weight: bold;
}
body.tec-support .garantias .input-group .form-control {
  color: black;
}
body.tec-support .garantias .input-group .form-control::placeholder {
  color: black;
}
body.tec-support .garantias .input-group .form-control:focus {
  background-color: white;
}
body.tec-support .garantias .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
body.tec-support .faq .left {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
body.tec-support .faq .left h1 {
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 2rem;
  display: inline-block;
  letter-spacing: 0.4vw;
}
body.tec-support .faq .left .accordion .card {
  border: none;
}
body.tec-support .faq .left .accordion .card .card-header {
  background-color: transparent;
  border: none;
  padding: 0;
}
body.tec-support .faq .left .accordion .card .card-header button {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
}
body.tec-support .faq .left .accordion .card .card-body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
body.tec-support .faq .right {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
body.tec-support .faq .right h2 {
  text-align: center;
  letter-spacing: 0.4vw;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2vw;
}
body.tec-support .faq .right p {
  font-family: "Roboto", sans-serif;
  color: #c3c4c9;
  font-size: 0.8rem;
  margin-bottom: 2vw;
}
body.tec-support .faq .right button {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 0.4vw;
}
body.tec-support .soporte {
  background-color: #fccc00;
  padding: 2vw;
}
body.tec-support .soporte h1 {
  font-size: 1.7vw;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.4vw;
  font-weight: bold;
}
body.tec-support .soporte .input-group {
  margin-top: 5vh;
  max-width: 20vw;
  margin: auto;
}
body.tec-support .soporte .input-group input {
  border: 4px solid black;
  background-color: white;
  padding: 1.2em;
  font-size: 1.3vw;
  font-weight: bold;
}
body.tec-support .soporte .input-group .form-control {
  color: black;
}
body.tec-support .soporte .input-group .form-control::placeholder {
  color: black;
}
body.tec-support .soporte .input-group .form-control:focus {
  background-color: white;
}
body.tec-support .soporte .input-group button {
  background-color: black;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

body.article .contactanos {
  background-color: black;
  background-image: url(../assets/where-buy-header.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3vw;
}
body.article .contactanos h1 {
  color: #fccc00;
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4em;
  text-align: left;
  line-height: 1.5em;
  font-weight: bold;
}
body.article .contactanos .input-group {
  margin-top: 5vh;
}
body.article .contactanos .input-group input {
  border: 4px solid white;
  background-color: transparent;
  padding: 1em;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
body.article .contactanos .input-group .form-control {
  color: white;
}
body.article .contactanos .input-group .form-control::placeholder {
  color: white;
}
body.article .contactanos .input-group .form-control:focus {
  background-color: transparent;
}
body.article .contactanos .input-group button {
  background-color: #fccc00;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
body.article .article {
  padding: 3rem 0;
}
body.article .article h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
body.article .article h2 {
  font-size: 1.6rem;
}
body.article .article h3 {
  font-size: 1.3rem;
}
body.article .article .table {
  width: 100%;
  max-width: 100%;
  margin: 2rem 0rem;
}
body.article .article .table th,
body.article .article .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
body.article .article .table thead th {
  vertical-align: bottom;
  border-top: 1px solid #dee2e6;
}
body.article .article .table .table {
  background-color: transparent;
}
body.article .soporte {
  background-color: #fccc00;
  padding: 2vw;
}
body.article .soporte h1 {
  font-size: 1.7vw;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.4vw;
  font-weight: bold;
}
body.article .soporte .input-group {
  margin-top: 5vh;
  max-width: 20vw;
  margin: auto;
}
body.article .soporte .input-group input {
  border: 4px solid black;
  background-color: white;
  padding: 1.2em;
  font-size: 1.3vw;
  font-weight: bold;
}
body.article .soporte .input-group .form-control {
  color: black;
}
body.article .soporte .input-group .form-control::placeholder {
  color: black;
}
body.article .soporte .input-group .form-control:focus {
  background-color: white;
}
body.article .soporte .input-group button {
  background-color: black;
  border: none;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

/*# sourceMappingURL=general.css.map */
