.mobile {
  display: none;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
  .mobile {
    display: none;
  }

  body {
    .full-banner {
      padding: 5vh;

      h2,
      h3,
      a,
      hr {
        margin-left: 40px;
      }

      img {
        width: auto;
        max-height: 358px;
        margin-top: -54px;
      }
    }
    .products-grid fieldset.big img {
      height: 308px;
    }
    .donde-comprar .container div {
      width: 44vw;
      left: 25px;
    }

    .contact-bottom {
      .invert h2 {
        font-size: 2em;
      }
      button {
        font-size: 0.8rem;
      }
    }
  }

  body.products {
    .full-banner {
      padding: 6vh;
      h2,
      h3,
      a,
      hr {
        margin-left: 40px;
      }
      img {
        width: auto;
        max-height: 358px;
        margin-top: -54px;
      }
    }
    .products-side {
      ul.side-menu {
        padding-left: 0px;
      }

      .flex.flex-between {
        flex-direction: column;
      }
    }
    .products-content {
      padding-left: 19px;

      .gallery .item {
        width: 150px;
        a h2 {
          font-size: 0.8rem;
        }
      }
    }
  }

  body.product-detail {
    .detalle {
      padding: 5vw 3vw;

      .col-10 {
        position: relative;
        left: 22px;
      }
      .btn.btn-outline-b {
        padding: 1vh;
      }
    }
    .ventas {
      button {
        margin: auto;
        display: block;
      }
    }
  }

  body.learn {
    .tutoriales {
      margin-top: 0px;
    }
    .consejos {
      margin-top: 31px;
    }
  }

  body.tec-support {

    .contactanos{
      .input-group {
        max-width: 40vw;
        input {
          font-size: 2.3vw;
        }
        button {
          font-size: 3vw;
        }
      }
    }
    .manuales .title h2 {
      &:before {
        left: -45vw;
      }
      &:after {
        right: -45vw;
      }
    }
    .garantias .input-group {
      max-width: 40vw;
      input {
        font-size: 2.3vw;
      }
      button {
        font-size: 3vw;
      }
    }
    .faq .right h2 {
      font-size: 2rem;
    }
    .soporte {
      h1 {
        font-size: 2.7vw;
      }
      .input-group {
        max-width: 40vw;
        input {
          font-size: 2.3vw;
        }
        button {
          font-size: 3vw;
        }
      }
    }
  }
  .nav-link {
    padding: 0.5rem 0.5rem;
  }

  .products-grid fieldset legend {
    font-size: 2vw;
  }

  body.buy .contactanos .input-group input {
    font-size: 1.5rem;
    padding: 1em 0.8em;
  }

  body.buy .contactanos .input-group button {
    font-size: 4vw;
  }

  body.buy .content .companies .company {
    width: 48%;
  }

  body.buy .sidebar form .flex {
    flex-direction: column;
  }
  .ventas .soporte h1 {
    font-size: 2.7vw;
  }
  .ventas .soporte .input-group {
    max-width: 33vw;
  }

  .ventas .soporte .input-group input {
    font-size: 2.3vw;
  }
  .ventas .soporte .input-group button {
    font-size: 3vw;
  }

  footer p,
  footer a {
    font-size: 1.7vw;
  }
  footer .btn {
    font-size: 0.8rem;
  }
  footer ul {
    padding-left: 0px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
  .mobile {
    display: none;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  //CSS
  .mobile {
    display: block;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  //CSS
  .mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }

  // HEADER
  header.container-fluid {
    padding: 0px;
    img {
      width: auto;
      height: 50%;
      margin-top: 35%;
    }
    .col-10 {
      padding-right: 0;
    }
    li {
      font-family: "Roboto", sans-serif;
      display: none;
      font-size: 1.5rem;
      a {
        color: black;
      }
      &:nth-child(n + 5) {
        display: flex;
      }
      &:nth-last-child(1) {
        background-color: white;
        padding: 0 2vw;
        width: 65px;
        a.nav-link {
          z-index: 20;
        }
      }
      ul.submenu-show {
        padding-top: 50px;
        width: 100vw;
        height: 100vh;
        padding: 0px;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: white;
        li {
          display: block;
          padding-left: 20px;
          a {
            color: #878787;
          }
          &:nth-child(1) {
            margin-top: 75px;
          }
        }
      }
    }
  }

  //   Slider
  .carousel {
    display: none;
  }

  .mobile.support-top {
    background-image: url("../assets/slider-1.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13vw;
    margin-top: -3px;
    h1 {
      color: #fccc00;
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      width: 74vw;
      margin: auto;
      text-align: center;
      line-height: 2.5rem;
      border: 2px solid white;
      padding: 2rem;
    }
    .input-group {
      width: 80%;
      margin: auto;
      position: relative;
      top: -24px;
      input {
        border: 4px solid black;
        background-color: white;
        padding: 1.2em;
        font-size: 3.7vw;
        font-weight: bold;
      }

      .form-control {
        color: black;
        &::placeholder {
          color: white;
        }
        &:focus {
          background-color: white;
        }
      }
      button {
        background-color: #fccc00;
        border: 4px solid black;
        border-left: 0px;
        font-size: 5vw;
        color: white;
        padding-left: 3vw;
        padding-right: 3vw;
      }
    }
  }

  .products-top {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 35px;
      h1 {
        margin-bottom: 0;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        letter-spacing: 1.4vw;
      }
    }
    .button {
      padding-left: 0;
      button {
        width: 58%;

        font-size: 1.5rem;
      }
    }
  }

  .products-grid {
    display: none;
  }

  .products-grid.mobile {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
    margin-top: 6vw;
    padding-top: 10px;
    fieldset {
      // padding: 5vw;
      width: 100vw;
      margin-left: 5vw;
      margin-bottom: 5vw;
      -webkit-box-shadow: 3px 3px 0px 0px black;
      -moz-box-shadow: 3px 3px 0px 0px black;
      box-shadow: 3px 3px 0px 0px black;
      min-width: auto;
      legend {
        background-color: #fccc00;
        width: auto;
        padding: 3px 2vw;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        margin-left: -11px;
        margin-right: 0px;
        white-space: nowrap;
        font-weight: 500;
      }
      img {
        max-width: 40vw;
        height: auto;
      }
      p {
        font-size: 1rem;
      }
      i {
        color: white;
        float: right;
        position: relative;
        right: -16px;
        padding: 9px;
        bottom: 120px;
        margin-bottom: -40px;
      }
    }
  }

  .full-banner {
    overflow: hidden;
    width: 100vw;
    padding: 10vw 0;
    .container {
      padding: 35px 0px;
      .row {
        height: 155px;
      }
      span {
        background-color: white;
        color: black;
        padding: 7px 25px;
        font-weight: bold;
        font-size: 21px;
        letter-spacing: 0.4vw;
        position: relative;
        top: -50px;
        left: 27px;
      }
      h2 {
        margin-left: 30px;
        font-size: 1.5rem;
      }
      h3 {
        margin-left: 30px;
        font-size: 1rem;
      }
      hr {
        margin-left: 30px;
      }
      a {
        background-color: black;
        color: white;
        margin-left: -3px;
        padding: 5px 35px;
        font-style: italic;
        margin-top: 50px;
        display: inline-block;
        font-size: 0.7rem;
        letter-spacing: 0.5vw;
      }
      img {
        max-height: 320px;
        margin-top: -83px;
        margin-left: -24px;
      }
    }
  }

  .donde-comprar {
    display: none;
  }

  .donde-comprar.mobile {
    display: block;
    padding-left: 20vw;
    position: relative;
    padding-right: 0;
    margin-bottom: 80px;
    div {
      position: absolute;
      left: 0;
      background-color: black;
      color: white;
      top: 18vw;
      h1 {
        font-family: "Roboto", sans-serif;
        font-size: 1.7rem;
        letter-spacing: 1.4vw;
        padding-left: 20vw;
        padding-top: 3vw;
        padding-right: 4vw;
      }
      button {
        padding-left: 9vw;
        padding-right: 9vw;
        font-size: 1.2rem;
        padding-top: 1vw;
        padding-bottom: 1vw;
        margin-left: 20vw;
      }
    }
    img {
      width: 100%;
    }
  }

  .formacion {
    display: none;
  }

  .formacion.mobile {
    display: block;
    .formacion-title {
      .col-8 {
        margin: auto;
        h1 {
          font-family: "Roboto", sans-serif;
          font-size: 1.8rem;
        }
      }
    }
    .items {
      display: flex;
      width: 100vw;
      overflow-x: scroll;
      .item {
        padding: 5vw;
        font-size: 4rem;
        width: 100vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
        a {
          color: black;
          text-decoration: none;
          display: block;
        }
        h2 {
          font-size: 1.2rem;
          margin-top: 12px;
          font-family: "Roboto", sans-serif;
        }
        p {
          font-size: 1rem;
          line-height: 1.4rem;
        }
        span {
          font-size: 1.2rem;
          border: 2px solid black;
          padding: 1vw;
        }
        img {
          max-width: 60vw;
          -webkit-box-shadow: 5px 5px 0px 0px black;
          -moz-box-shadow: 5px 5px 0px 0px black;
          box-shadow: 5px 5px 0px 0px black;
        }
      }
    }
  }

  .support {
    .container {
      padding: 6vw 3vh;
      h1 {
        letter-spacing: 2vw;
        font-size: 1.5rem;
      }
    }
    .options {
      text-align: left;
      margin-top: -25px;
      margin-left: -30px;
      button {
        font-size: 1.3rem;
      }
    }
  }

  .contact-bottom {
    padding-left: 0;
    padding-right: 0;
    .container {
      .row {
        display: flex;
        flex-direction: column;
        [class^="col"] {
          width: 100%;
          max-width: 100%;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
          }
          &:nth-child(3) {
            order: 2;
          }
        }
      }
    }
    h2 {
      font-size: 1.5rem;
      padding-left: 9px;
    }
    a {
      color: black;
    }
    .invert {
      h2 {
        font-size: 1.5em;
        letter-spacing: 0.2em;
        margin-bottom: 4vh;
      }
      p {
        padding-left: 9px;
        font-style: italic;
      }
      button {
        margin: auto;
        display: block;
      }
    }
  }

  footer {
    display: none;
  }

  footer.mobile {
    padding: 2vh;
    img {
      width: 80%;
      margin-top: 15px;
    }
    p {
      font-size: 1rem;
    }
    .accordion {
      width: 100%;
      .card {
        background-color: transparent;
        .card-header {
          padding-left: 0;
          padding-bottom: 0;
          padding-right: 0;
          h2 {
            button {
              width: 100%;
              text-align: left;
              background-color: transparent;
              border: none;
              color: white;
              font-weight: normal;
              letter-spacing: 0.4vw;
              font-family: "Roboto", sans-serif;
              display: flex;
              justify-content: space-between;
              text-decoration: none;
              &[aria-expanded="true"] {
                &::after {
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  content: "\f078";
                  border: 1px solid #737373;
                  padding: 1px 5px;
                }
              }
              &[aria-expanded="false"] {
                &::after {
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  content: "\f077" !important;
                  border: 1px solid #737373;
                  padding: 1px 5px;
                }
              }
            }
          }
        }
        .card-body {
          padding: 0.5rem;
          ul {
            li {
              a {
                font-size: 1rem;
                color: #f3f3f3;
                font-style: italic;
              }
            }
          }
        }
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 15px;
      }
    }
    .social {
      justify-content: center;
      a {
        font-size: 1.2rem;
      }
    }
  }

  // Responsive for Productcs Page
  ////////////////////////////////

  body.products {
    .full-banner {
      overflow: hidden;
      width: 100vw;
      padding: 10vw 0;
      .container {
        padding: 35px 0px;
        .row {
          height: 155px;
        }
        span {
          background-color: white;
          color: black;
          padding: 7px 25px;
          font-weight: bold;
          font-size: 21px;
          letter-spacing: 0.4vw;
          position: relative;
          top: -50px;
          left: 27px;
        }
        h2 {
          margin-left: 30px;
          font-size: 1.5rem;
          margin-top: -15px;
        }
        h3 {
          margin-left: 30px;
          font-size: 1rem;
        }
        hr {
          margin-left: 30px;
        }
        a {
          background-color: black;
          color: white;
          margin-left: -3px;
          padding: 5px 35px;
          font-style: italic;
          margin-top: 50px;
          display: inline-block;
          font-size: 0.7rem;
          letter-spacing: 0.5vw;
        }
        img {
          max-height: 320px;
          margin-top: -83px;
          margin-left: -24px;
        }
      }
    }

    .products-list {
      display: none;
    }

    .products-list.mobile {
      display: block;
      padding-top: 15px;
      input[type="checkbox"] {
        margin-top: 8px;
      }
      h1 {
        font-family: "Roboto", sans-serif;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 1vw;
      }
      h2 {
        font-family: "Roboto", sans-serif;
        background-color: #fccc00;
        color: black;
        border: 1px solid black;
        font-size: 1.5rem;
        text-align: center;
        padding: 1vw;
        font-weight: 400;
      }
      ul {
        list-style: none;
        padding-left: 0px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 0px;
        li {
          border-bottom: 2px solid black;
          padding: 5px 0px;
          label {
            font-size: 1.3rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
      .accordion {
        .card {
          border: none;
          background-color: transparent;
          border-radius: 0px;
          border-bottom: 2px solid black;
          .card-header {
            padding: 0px;
            background-color: transparent;
            padding: 5px 0px;
            border: none;
            h2 {
              border: none;
              text-align: left;
              padding: 0;
              background-color: transparent;
              button {
                border: none;
                font-family: "Roboto", sans-serif;
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 1.3rem;
                font-weight: 400;
                padding: 0px;
                background-color: transparent;
                padding-left: 15px;
                padding-right: 15px;
                &[aria-expanded="true"] {
                  background-color: #fccc00;
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
          .card-body {
            padding: 0;
            ul {
              padding-top: 20px;
              padding-bottom: 20px;
              li {
                border: none;
                label {
                  font-style: italic;
                  font-size: 1.2rem;
                  font-weight: 300;
                  padding-left: 30px;
                }
              }
            }
          }
        }
      }
      .options {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .btn {
          padding: 5px 1.5vh;
          font-weight: 400;
        }
        button {
          margin: 0px 5px;
        }
      }
    }
    .products-content {
      display: block;
      padding: 0;
      padding-top: 15px;
      h1 {
        font-family: "Roboto", sans-serif;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 1vw;
      }
      .options {
        display: flex;
        justify-content: space-between;
        .btn {
          padding: 5px 1.5vh;
        }
      }

      .gallery {
        .item {
          a {
            h2 {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .products-content.one-column {
      display: block;
      padding: 0;
      padding-top: 15px;
      h1 {
        font-family: "Roboto", sans-serif;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 1vw;
      }
      .options {
        display: flex;
        justify-content: space-between;
        .btn {
          padding: 5px 1.5vh;
          font-weight: 400;
        }
      }

      .gallery {
        .item {
          width: 100%;
          a {
            img {
              width: 100%;
            }
            h1 {
              font-family: "Roboto", sans-serif;
              background-color: transparent;
              color: black;
              font-size: 1.5rem;
              text-align: center;
              padding: 1vw;
              margin-top: 20px;
            }
            h2 {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .ventas {
      .container {
        padding: 0;
        .container-fluid {
          padding: 2rem 0rem;
          .col-9 {
            width: 100%;
            max-width: 100%;
            flex: auto;
            h2 {
              font-family: "Roboto", sans-serif;
              font-size: 1.5rem;
              padding-top: 3px;
              padding-left: 2rem;
              &:before {
                left: -8em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 11em;
                top: 0;
                bottom: 0;
                height: 10px;
              }
              &:after {
                right: -8rem;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 11rem;
                top: 0;
                bottom: 0;
                height: 10px;
              }
            }
          }
          .carousel {
            display: flex;
            .col-1 {
              display: none;
            }
            .col-10 {
              width: 100%;
              max-width: 100%;
              flex: auto;
              .carousel-item {
                img {
                  width: 100px;
                  .col-3 {
                    &:after {
                      bottom: -6px;
                    }
                  }
                }
                h3 {
                  font-size: 0.8rem;
                  margin-top: 0px;
                }
              }
            }
          }
        }
      }
      .soporte {
        padding: 1.5rem;
        h1 {
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          margin-bottom: 20px;
        }
        .input-group {
          max-width: 55vw;
          .form-control {
            font-size: 1rem;
          }
          button {
            font-size: 1.7rem;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
          }
        }
      }
    }
  }

  // Responsive for Productc Detail Page
  ////////////////////////////////

  body.product-detail {
    .quiero {
      display: none;
    }

    .detalle {
      .container {
        .row {
          flex-direction: column;
          .col-6 {
            width: 100%;
            max-width: 100%;
            .carousel {
              display: block;
              margin-bottom: 30px;
              .row {
                flex-direction: row;
                .col-1 {
                  display: none;
                }
                .col-10 {
                  width: 100%;
                  max-width: 100%;
                  flex: 0 0 100%;
                }
              }
            }
          }
          .col-4 {
            width: 100%;
            max-width: 100%;

            p {
              font-size: 0.9rem;
            }
          }
        }
        .aditional-info {
          border: 2px solid black;
          flex-direction: row;
          .col-4 {
            max-width: 33.333333%;
            flex: 0 0 33.333333%;
            border-right: 2px solid black;
          }
        }
      }
    }
    .ventas {
      .container {
        padding: 0;
        .soporte {
          button {
            border: 2px solid black;
            background-color: white;
            color: black;
            width: 80%;
            margin: auto;
            display: block;
          }
        }
        .container-fluid {
          padding: 2rem 0rem;
          .col-9 {
            width: 100%;
            max-width: 100%;
            flex: auto;
            h2 {
              font-family: "Roboto", sans-serif;
              font-size: 1.5rem;
              padding-top: 3px;
              padding-left: 2rem;
              &:before {
                left: -8em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 11em;
                top: 0;
                bottom: 0;
                height: 10px;
              }
              &:after {
                right: -8rem;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 11rem;
                top: 0;
                bottom: 0;
                height: 10px;
              }
            }
          }
          .carousel {
            display: flex;
            .col-1 {
              display: none;
            }
            .col-10 {
              width: 100%;
              max-width: 100%;
              flex: auto;
              .carousel-item {
                img {
                  width: 100px;
                  .col-3 {
                    &:after {
                      bottom: -6px;
                    }
                  }
                }
                h3 {
                  font-size: 0.8rem;
                  margin-top: 0px;
                }
              }
            }
          }
        }
      }
      .soporte {
        padding: 1.5rem;
        h1 {
          font-family: "Roboto", sans-serif;
          font-size: 2.5rem;
          margin-bottom: 20px;
        }
        .input-group {
          max-width: 55vw;
          .form-control {
            font-size: 1rem;
          }
          button {
            font-size: 1.7rem;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
          }
        }
      }
    }
  }

  // Responsive for Where to Buy Page
  ////////////////////////////////

  body.buy {
    .contactanos {
      display: none;
    }

    .distribuidores {
      > .row {
        flex-direction: column;
        .sidebar,
        .content {
          min-width: 100%;
        }

        .sidebar {
          .top.mobile {
            background-color: black;
            color: white;
            display: flex;
            margin-bottom: 10px;
            h4 {
              margin: 0px;
              padding-left: 5px;
            }
            button {
              border: none;
              border-left: 2px solid white;
              padding: 5px 15px;
              background-color: black;
              color: white;
            }
          }
          .form-group {
            margin-bottom: 0.5rem;
          }
        }
        .content {
          .filter {
            display: flex;
            margin-bottom: 10px;
            input {
              border: 2px solid black;
              margin-right: 10px;
            }
            button {
              border: none;
              padding: 5px 15px;
              background-color: black;
              color: white;
            }
          }
          .company {
            width: 100%;
            border: none;
            border-bottom: 2px solid black;
            padding: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .ventas {
      .soporte {
        padding: 1.5rem;
        h1 {
          font-family: "Roboto", sans-serif;
          font-size: 1.5rem;
          margin-bottom: 20px;
        }
        .input-group {
          max-width: 55vw;
          .form-control {
            font-size: 1rem;
          }
          button {
            font-size: 1.7rem;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
          }
        }
      }
    }
  }

  // Responsive for Learn Page
  ////////////////////////////////

  body.learn {
    .contactanos {
      display: none;
    }

    .tutoriales {
      display: none;
    }
    .tutoriales.mobile {
      margin-top: 0px;
      display: block;
      > .container {
        padding: 0px;
        .title {
          margin-top: 45px;
          .col-9 {
            flex: 0 0 100%;
            max-width: 100%;
            h2 {
              font-size: 1.5rem;
              &:before {
                left: -4em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 8em;
                top: -4px;
                bottom: 0;
                height: 1rem;
              }
              &:after {
                right: -4em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 8em;
                top: -4px;
                bottom: 0;
                height: 1rem;
              }
            }
          }
        }
        .carousel {
          display: block;
          .col-1 {
            display: none;
          }
          .col-10 {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .carousel-item {
            .col-4 {
              flex: 0 0 100%;
              max-width: 100%;
            }
            h3,
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .consejos {
      display: none;
    }

    .consejos.mobile {
      display: block;

      > .container {
        padding: 0px;
        .title {
          margin-top: 27px;
          .col-9 {
            flex: 0 0 80%;
            max-width: 80%;
            margin: auto;
            h2 {
              font-size: 1.5rem;
              padding: 10px;
            }
          }
        }
        .carousel {
          display: block;
          .col-1 {
            display: none;
          }
          .col-10 {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .carousel-item {
            .col-4 {
              flex: 0 0 100%;
              max-width: 100%;
            }
            h3,
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .videos {
      display: none;
    }

    .videos.mobile {
      display: block;
      background-color: transparent;
      > .container {
        padding: 0px;
        .title {
          margin-top: 45px;
          top: 0px;
          .col-12 {
            flex: 0 0 80%;
            max-width: 80%;
            margin: auto;
            h2 {
              font-size: 1rem;
              padding: 1rem;
            }
          }
        }
        .carousel {
          display: block;
          .col-1 {
            display: none;
          }
          .col-10 {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .carousel-item {
            .col-4 {
              flex: 0 0 100%;
              max-width: 100%;
            }
            h3,
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }

  // Responsive for Support Page
  ////////////////////////////////

  body.tec-support {
    .contactanos {
      display: none;
    }

    .tips {
      display: none;
    }

    .tips.mobile {
      display: block;
      > .container {
        padding: 0px;
        .title {
          margin-top: 27px;
          .col-9 {
            flex: 0 0 80%;
            max-width: 80%;
            margin: auto;
            h2 {
              font-size: 1.1rem;
              padding: 10px;

              &:before {
                left: -6em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 8em;
                top: 5px;
                bottom: 0;
                height: 1rem;
              }
              &:after {
                right: -6em;
                background-color: black;
                content: "";
                display: block;
                position: absolute;
                width: 8em;
                top: 5px;
                bottom: 0;
                height: 1rem;
              }
            }
          }
        }
        .carousel {
          display: block;
          .col-1 {
            display: none;
          }
          .col-10 {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .carousel-item {
            .col-4 {
              flex: 0 0 100%;
              max-width: 100%;
            }
            h3,
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .manuales {
      margin-top: 0px;

      .title {
        margin-top: 27px;
        .col-9 {
          flex: 0 0 80%;
          max-width: 80%;
          margin: auto;
          h2 {
            font-size: 1.1rem;
            &:before {
              left: -7em;
              background-color: black;
              content: "";
              display: block;
              position: absolute;
              width: 8em;
              top: 5px;
              bottom: 0;
              height: 1rem;
            }
            &:after {
              right: -7em;
              background-color: black;
              content: "";
              display: block;
              position: absolute;
              width: 8em;
              top: 5px;
              bottom: 0;
              height: 1rem;
            }
          }
        }
      }
      .filter {
        flex-direction: column;
        .form-group {
          width: 100%;
          margin-bottom: 5px;
        }
        button.btn-warning {
          padding: 7px 20px;
        }
      }
      .articles {
        padding: 1rem;
        flex-direction: column;
        padding-top: 40px;
        .item {
          width: 100%;
          padding-bottom: 4vw;
          h1 {
            font-size: 1rem;
          }
        }
      }
    }

    .garantias {
      padding: 8vw 2vw;
      background-size: cover;
      h1 {
        font-size: 1.5rem;
      }
      .input-group {
        max-width: 50vw;
        input {
          font-size: 1rem;
        }
        button {
          font-size: 1.3rem;
          padding-left: 3vw;
          padding-right: 3vw;
        }
      }
    }

    .faq {
      .row {
        flex-direction: column-reverse;
        padding-right: 15px;
        padding-left: 15px;
      }
      .col-4,
      .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .col-4 {
        background-color: #eaebed;
        padding: 50px;
        z-index: 1;
        h2 {
          color: black;
          font-size: 2.5rem;
          font-weight: 300;
        }
        p {
          color: black;
        }
        button {
          font-weight: 300;
          letter-spacing: 2vw;
        }
      }
      .col-8 {
        z-index: 2;
        margin-top: -35px;
        h1 {
          font-size: 1.2rem;
          margin: auto;
          display: table;
          font-weight: bold;
          z-index: 2;
          margin-bottom: 13px;
        }
      }
    }

    .soporte {
      padding: 8vw 2vw;
      h1 {
        font-size: 1.5rem;
      }
      .input-group {
        max-width: 50vw;
        input {
          font-size: 1rem;
        }
        button {
          font-size: 1.3rem;
          padding-left: 3vw;
          padding-right: 3vw;
        }
      }
    }
  }
}
